.spinner {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.pagination {
    list-style: none;
    display: flex;
    gap: 20px;
}
.pagination li {
    border: 1px solid #e3e7ed;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination li.selected {
    background-color: #e3e7ed;
}
